<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <script src="../static/js/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>
<body>
    <div class="loading"></div>
    <p class="landIn">欢迎来到提瓦特大陆</p>
    <div class="game_wrapper"><span class="button game1">game1</span></div>
    <div class="game_wrapper"><span class="button game2">game2</span></div>
    <div class="game_wrapper"><span class="button game2">game3</span></div>
    <div id="game1_info_overlay" class="overlay">
        <div class="gi_wrapper">
            <div class="gi_title">Game1</div>
            <div class="gi_content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quis, nemo harum ut ipsam quo esse sed, sunt iste reiciendis quos? Tenetur quia atque molestiae non rerum nemo aliquam ab esse, ad asperiores voluptatem magnam commodi doloribus ducimus cupiditate ipsa maiores numquam, tempora excepturi aliquid laudantium illum laborum, minima dolorem. Cumque repellendus ipsa pariatur sint impedit quo molestias nihil nam, molestiae quas possimus vitae dolor quis iste veritatis explicabo dolore? Consequuntur harum tempora, distinctio cum veniam doloremque impedit illo, obcaecati culpa iste dolorum quia exercitationem? Recusandae molestiae commodi earum, dicta cumque exercitationem eius optio corporis, animi, laudantium similique facilis fuga.</div>
            <div class="gi_button">
                <button class="cancel_button1">取消</button>
                <button class="enter_game1">进入游戏</button>
            </div>
        </div>
    </div>

    <div id="game2_info_overlay" class="overlay">
        <div class="gi_wrapper">
            <div class="gi_title">Game2</div>
            <div class="gi_content">information</div>
            <div class="gi_button">
                <button class="cancel_button2">取消</button>
                <button class="enter_game2">进入游戏</button>
            </div>
        </div>
    </div>

    <div id="game3_info_overlay" class="overlay">
        <div class="gi_wrapper">
            <div class="gi_title">Game3</div>
            <div class="gi_content">information</div>
            <div class="gi_button">
                <button class="cancel_button3">取消</button>
                <button class="enter_game3">进入游戏</button>
            </div>
        </div>
    </div>


    
    <script src="../static/js/script_index.js"></script>
</body>
</html>