body {
  display: flex;
  font-family:"Microsoft YaHei",微软雅黑体;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8),
      rgba(16, 16, 16, 0.8)),
    url("../images/index_background.jpg");
  background-size: cover;
}

p {
  margin: 0 9em;
  font-size: 2em;
  font-weight: 600;
}


.landIn {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  color: white;
  font-family: Lora, serif;
  white-space: pre;

  
}
span {
    animation: landIn 0.8s ease-out both, glow 0.8s both, shining 0.1s alternate infinite;
}

.game_wrapper {
  height: auto;
  width: auto;
  margin: 10px;
}

@keyframes landIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glow {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.button {
    margin-top: 18px;
    padding: 5px 20px 5px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 10px rgba(15, 115, 223, 0.9) inset, 0 0 30px rgba(15, 115, 223, 0.9);
}

.button:hover {
    cursor: pointer;
    background-color: rgba(16, 16, 16, 0.8);
}

.loading {
  position: relative;
  width: 8em;
  height: 8em;
  opacity: 1.0;
  border-radius: 50%;
  box-shadow: inset 0.5em -0.5em white;
  animation-name: spin, color_change;
  animation-duration: 2s, 4s;
  animation-timing-function: linear, linear;
  animation-iteration-count: infinite, infinite;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    box-shadow: inherit;
  }

  &::before {
    filter: blur(5px);
  }

  &::after {
    filter: blur(10px);
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes color_change {
  0% {
    box-shadow: inset 0.5em -0.5em white;
  }
  25% {
    box-shadow: inset 0.5em -0.5em rgb(184, 223, 248);
  }
  50% {
    box-shadow: inset 0.5em -0.5em rgb(75, 166, 225);
  }
  75% {
    box-shadow: inset 0.5em -0.5em rgb(184, 223, 248);
  }
  100% {
    box-shadow: inset 0.5em -0.5em white;
  }
}

@keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9),
      0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5),
      0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8),
      0 0 54px rgba(15, 115, 223, 0.9);
  }
  to {
    text-shadow: 0 0 6px rgba(182, 211, 207, 1),
      0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(15, 115, 223, 0.6),
      0 0 22px rgba(15, 115, 223, 0.8), 0 0 38px rgba(15, 115, 223, 0.9),
      0 0 60px rgba(15, 115, 223, 1);
  }
}


.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.gi_wrapper {
  background: #ffffff;
  max-width: 400px;
  height: auto;
  min-width: 20px;
  border-radius: 5px;
  margin: 100px auto;
  text-align: center;
}

.gi_title {
  height: 50px;
  line-height: 50px;
  padding: 15px 20px;
}

.gi_content {
  height: auto;
  padding: 15px 20px;
}

.gi_button {
  padding-bottom: 10px;
}

.gi_button button {
  width: 40%;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 10px rgba(15, 115, 223, 0.9) inset, 0 0 30px rgba(15, 115, 223, 0.9);
  background-color: rgb(45, 97, 174);
}